<div class="container">
  <div class="row">
    <section data-type="settings">

      <h1>Add a student</h1>



      <%= simple_form_for @student do |f| %>
          <p>
            <%= f.label :name, wrapper: "basic", label: false %>
            <%= f.input :name,  wrapper: "basic", label: false %>
          </p>

          <p>
            <%= f.label :note, wrapper: "basic", label: false %>
            <%= f.input :note,  wrapper: "basic", label: false %>
          </p>

          <p>
            <%= f.input :section_id, :as => :hidden, :input_html => { :value => @section } %>
            <%= f.input :teacher_id, :as => :hidden, :input_html => { :value => current_user.id } %>

          </p>



          <%= f.submit 'Add student',  :class => 'sign-btn', :'data-type' => 'settings' %>

      <% end %>

    </section>
  </div>
</div>