<div class="container">
  <div class="row">
    <section class="new-class">

      <header>
        <h1>Add a class</h1>
      </header>

      <%= simple_form_for @section, :html => { :role => 'form', :class => 'new-section'} do |f| %>
          <p>
            <label for="name">Name</label>
            <%= f.input :name, wrapper: "basic", label: false %>
          </p>
          <p>
            <%= f.label :description, wrapper: "basic", label: false %>
            <%= f.input :description, wrapper: "basic", label: false %>
          </p>

        <span class="button-checkbox">
            <button type="button" class="btn" data-color="info">Monday</button>
            <%= f.input :monday, :as => :boolean, hidden: true, class: 'hider', :'data-color' => 'primary', label: false%>
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="info">Tuesday</button>
             <%= f.input :tuesday, :as => :boolean, hidden: true, class: 'hider', :'data-color' => 'primary', label: false%>
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="info">Wednesday</button>
             <%= f.input :wednesday, :as => :boolean, hidden: true, class: 'hider', :'data-color' => 'primary', label: false%>
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="info">Thursday</button>
             <%= f.input :thursday, :as => :boolean, hidden: true, class: 'hider', :'data-color' => 'primary', label: false%>
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="info">Friday</button>
             <%= f.input :friday, :as => :boolean, hidden: true, class: 'hider', :'data-color' => 'primary', label: false%>
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="info">Saturday</button>
             <%= f.input :saturday, :as => :boolean, hidden: true, class: 'hider', :'data-color' => 'primary', label: false%>
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="info">Sunday</button>
             <%= f.input :sunday, :as => :boolean, hidden: true, class: 'hider', :'data-color' => 'primary', label: false%>
        </span>

          <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>

          <%= f.button :submit, :class => 'submitter' %>
      <% end %>
    </section>
  </div>
</div>