

<%= render 'sections/partials/profile' %>


<div class="container">
    <% if @students.count == 0  %>

      <div class="row clearfix">
        <div class="col-md-12 column">

          <p>No students yet</p>

          <%= link_to 'add student', new_section_student_path(@section) %>

    <% else %>

      <table class="table table-bordered table-hover" id="tab_logic" data-id="<%= @section.id %>">

        <thead>
        <tr >
          <th class="text-center">
            #
          </th>
          <th class="text-center">
            Name
          </th>
          <th class="text-center">
            Note
          </th>
        </tr>
        </thead>
        <tbody>
        <% @students.each_with_index do |student, i|%>

            <tr id='addr0'>
              <td class="number">
                <%= (i+1) %>
              </td>
              <td class="name">
                <%= link_to student.name, section_student_path(:section_id => student.section_id, :id => student.id), class: 'btn-signup' %>
                <!--<#%= best_in_place student, :name, :type => :input, :html_attrs => {:class=>"dummy"} %>-->
              </td>
              <td class="note">
                <% if student.note %>
                    <%= link_to student.note, section_student_path(:section_id => student.section_id, :id => student.id), class: 'btn-signup' %>
                <% else %>
                    <input type="text" name='mail0' placeholder='Note' class="form-control"/>
                <% end %>

              </td>
            </tr>
            <tr id='addr1'></tr>


        <% end %>

        </tbody>

      </table>

      </div>
      </div>


  <% end %>

  <div class="row">

    <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

      <h2>Import Students</h2>

      <div class="input-group image-preview">

        <%= form_tag import_section_students_path(@section.id), id: 'inputer', multipart: true do %>

            <%= file_field_tag :file, 'data-filename-placement' => 'inside', title: 'Browse' %>
            <%= hidden_field_tag :section_id, @section.id %>
            <%= hidden_field_tag :teacher_id, current_user.id %>
            <%= submit_tag "Import", class: 'btn btn-disabled', disabled: true, id: 'impBtn' %>

        <% end %>

      </div>
    </div>
  </div>

  <div class="row full-calendar">
    <div id="calendar" style="display: none"></div>
    <input type="hidden" id="section_path" data-name="<%= @section.name %>" data-path="<%= @section.id %>" name="section_path" value="foo">
  </div>

</div>
