<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
  <div class="well profile">
    <div class="col-sm-12">
      <div class="col-xs-12 col-sm-8">
        <h1><%= @section.name  %></h1>
        <p><strong>About: </strong> <%= @section.description  %> </p>
        <p><strong>Days: </strong>
          <% if @section.monday %>
              <span class="tags">Monday</span>
          <% end %>
          <% if @section.tuesday %>
              <span class="tags">Tuesday</span>
          <% end %>
          <% if @section.wednesday %>
              <span class="tags">Wednesday</span>
          <% end %>
          <% if @section.thursday %>
              <span class="tags">Thursday</span>
          <% end %>
          <% if @section.friday %>
              <span class="tags">Friday</span>
          <% end %>
          <% if @section.saturday %>
              <span class="tags">Saturday</span>
          <% end %>
          <% if @section.sunday %>
              <span class="tags">Sunday</span>
          <% end %>
        </p>
        <br />
      </div>
    </div>
    <!--<div class="col-xs-12 divider text-center">-->


      <div class="col-xs-12 col-sm-6 emphasis">
        <div class="btn-group dropup btn-block">
          <button type="button" class="btn btn-primary opts"><span class="fa fa-gear"></span> Options </button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu text-left" role="menu">
            <li>

              <%= link_to section_attendances_path do %>
                  Download Attendance data
                  <span class="fa fa-pencil-square-o pull-right"></span>
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to edit_section_path(@section) do %>
                  Edit
                  <span class="fa fa-pencil-square-o pull-right"></span>
              <% end %>
            </li>
          </ul>

        </div>
        <%= link_to 'Add another class', new_section_path(@section), class: 'btn-signup' %>     <br>
        <%= link_to 'add student', new_section_student_path() %>

      </div>
    <!--</div>-->
  </div>
</div>