<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Chlk Attendance Standalone" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Chlk Attendance Standalone" %>">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
    <body>
        <header role="banner">
          <div class="wrap">
            <%= render 'layouts/partials/navigation' %>
          </div>
        </header>
          <% if current_user && (controller.controller_name == 'sessions' && controller.action_name == 'show') %>
              <%= render 'layouts/partials/classbar' %>
          <% end %>

          <%= render 'layouts/partials/messages' %>
              <%= yield %>
        <%= render 'layouts/partials/footer' %>
          <%= render 'layouts/partials/login_modal' %>

    </body>
</html>
